/* Variable */

:root {
  --main-background-color: #d9d9d9;
  --main-background-color-inverted: #000000;
}

/* Fonts */
@font-face {
  font-family: "Aqala";
  src: url("../public/fonts/Aqala Display Free.ttf");
}
@font-face {
  font-family: "Tobias Light";
  src: url("../public/fonts/Tobias-TRIAL-Light.ttf");
}
@font-face {
  font-family: "Tobias Light Italic";
  src: url("../public/fonts/Tobias-TRIAL-LightItalic.ttf");
}
@font-face {
  font-family: "Tobias Thin";
  src: url("../public/fonts/Tobias-TRIAL-Thin.ttf");
}
@font-face {
  font-family: "Tobias Thin Italic";
  src: url("../public/fonts/Tobias-TRIAL-ThinItalic.ttf");
}

/* Main */
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--main-background-color);
}

html,
body {
  overflow-x: hidden;
}

/* General */

.button1 {
  font-family: "Tobias Light";
  border: none;
  text-decoration: none;
  background: none;
  font-size: 12px;
  cursor: pointer;
}

.button2 {
  font-family: "Tobias Thin";
  border: none;
  text-decoration: none;
  background: none;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.6;
}
.button2:hover {
  font-family: "Tobias Light Italic";
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 50px 0px 30px;
}
.header_container > div:first-child {
  display: flex;
}
.header_logo {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 2vw;
}
.header_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 30vw; */
}

.playing_container {
  padding-bottom: 12px;
  opacity: 0.6;
  display: flex;
  justify-content: flex-end;
}

.playing {
  font-family: "Tobias Thin Italic";
  font-size: 12px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.playing span {
  display: inline-block;
  padding-left: 100%;
  animation: playing 10s linear infinite;
}

.playing2 span {
  animation-delay: 5s;
}

@keyframes playing {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.header_mute {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 40px;
  cursor: pointer;
  opacity: 0.8;
}

/* Menu */

.menu {
  z-index: 1;
  position: fixed;
  height: 100vh;
  top: -8vh;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 50px;
}

.menu > button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  border: none;
  text-decoration: none;
  background: none;
  font-family: "Aqala";
  font-size: 22px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  opacity: 0.3;

  width: fit-content;
}

.menu > button:hover {
  transition: ease-in-out 0.1s;
  padding-right: 30px;
  position: relative;
  opacity: 1;
}

.menu > button > span {
  text-align: end;
  border: none;
  text-decoration: none;
  background: none;
  font-family: "Aqala";
  font-size: 18px;
  opacity: 0.6;
  margin-left: 6px;
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
.footer_container {
  margin: 0 auto;
  padding: 0px 50px 20px 50px;
  display: flex;
}
.overview {
  width: 60%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.5;
}
.overview > div {
  width: auto;
  margin-top: -12px;
  white-space: nowrap;
  padding: 0 5px 0 5px;
  font-family: "Tobias Thin Italic";
  font-size: 12px;
  text-transform: lowercase;
  height: 12px;
}
.overview:first-child {
  padding-left: 0px;
}

.dotted {
  margin-bottom: 12px;
  flex: 2;
  min-width: 10vw;
  width: 100%;
  border-bottom: 1px dashed var(--main-background-color-inverted);
}

.info {
  width: 35%;
  font-family: "Tobias Thin";
  font-size: 12px;
  text-transform: lowercase;
  margin-top: -6px;
  opacity: 0.6;
  margin-left: 2%;
  line-height: 12px;
}

.tree {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: -20px;
  margin-right: -3vw;
  padding-left: 5%;
}
.tree > img {
  object-fit: contain;
}

/* Home */
.home {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.home_container {
  margin-top: -12vh;
  display: flex;
}
.home_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2vw;
}
.home_info h1 {
  font-family: "Aqala";
  font-size: 42px;
}
.home_img {
  position: relative;
  width: 200px;
  height: 200px;
}
.home_img > img {
  object-fit: cover;
}
.home_buttons {
  display: flex;
  justify-content: flex-start;
}
.home_buttons > button {
  padding: 0px;
}
.home_buttons > a:first-child {
  margin-right: 20px;
}
.details {
  margin-bottom: 10px;
  font-family: "Tobias Thin";
  opacity: 0.5;
  font-size: 14px;
}
.credits {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Tobias Thin";
  opacity: 0.5;
  font-size: 14px;
}
