/* Variable */

:root {
  --main-background-color: #f5f2ec;
  --main-background-color-inverted: #000000;
}

/* Fonts */
@font-face {
  font-family: "Aqala";
  src: url("../public/fonts/Aqala Display Free.ttf");
}
@font-face {
  font-family: "Tobias Light";
  src: url("../public/fonts/Tobias-TRIAL-Light.ttf");
}
@font-face {
  font-family: "Tobias Light Italic";
  src: url("../public/fonts/Tobias-TRIAL-LightItalic.ttf");
}
@font-face {
  font-family: "Tobias Thin";
  src: url("../public/fonts/Tobias-TRIAL-Thin.ttf");
}
@font-face {
  font-family: "Tobias Thin Italic";
  src: url("../public/fonts/Tobias-TRIAL-ThinItalic.ttf");
}

/* Main */
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--main-background-color);
}

html,
body {
  overflow-x: hidden;
}

/* General */

.button1 {
  font-family: "Tobias Light";
  border: none;
  text-decoration: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  color: var(--main-background-color-inverted);
}

.button2 {
  font-family: "Tobias Thin";
  border: none;
  text-decoration: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.6;
  color: var(--main-background-color-inverted);
}
.button2:hover {
  font-family: "Tobias Light Italic";
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 50px 0px 30px;
}
.header_container > div:first-child {
  display: flex;
}
.header_logo {
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin-right: 2vw;
}
.header_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 30vw; */
  color: var(--main-background-color-inverted);
}

.playing_container {
  padding-bottom: 12px;
  opacity: 0.8;
  display: flex;
  justify-content: flex-end;
}

.playing {
  font-family: "Tobias Thin Italic";
  font-size: 14px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.playing span {
  display: inline-block;
  padding-left: 100%;
  animation: playing 10s linear infinite;
}

.playing2 span {
  animation-delay: 5s;
}

@keyframes playing {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.header_mute {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 40px;
  cursor: pointer;
  opacity: 0.8;
}

.mobileHeader_container {
  display: none;
  justify-content: center;
  padding-top: 25px;
  align-items: center;
}
.mobileHeader_container > button {
  width: 12vw;
  font-size: 16px;
}

/* Menu */

.menu {
  z-index: 1;
  position: fixed;
  height: 100vh;
  top: -8vh;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 50px;
}

.menu > button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  border: none;
  text-decoration: none;
  background: none;
  font-family: "Aqala";
  font-size: 26px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  opacity: 0.3;
  color: var(--main-background-color-inverted);
  width: fit-content;
}

.menu > button:hover {
  transition: ease-in-out 0.1s;
  padding-right: 30px;
  position: relative;
  opacity: 1;
}

.menu > button > span {
  text-align: end;
  border: none;
  text-decoration: none;
  background: none;
  font-family: "Aqala";
  font-size: 20px;
  opacity: 0.6;
  margin-left: 6px;
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}
.footer_container {
  margin: 0 auto;
  padding: 0px 50px 20px 50px;
  display: flex;
  align-items: flex-end;
}
.overview {
  width: 55%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: var(--main-background-color-inverted);
}
.overview > div {
  opacity: 0.3;
  width: auto;
  margin-top: -12px;
  white-space: nowrap;
  padding: 0 5px 0 5px;
  font-family: "Tobias Thin Italic";
  font-size: 14px;
  text-transform: lowercase;
  height: 14px;
}
.overview:first-child {
  padding-left: 0px;
}

.overview_highlighted:hover {
  opacity: 1;
  cursor: pointer;
}
.overview_clicked {
  opacity: 1 !important;

  cursor: pointer;
}

.dotted {
  margin-bottom: 12px;
  flex: 2;
  min-width: 10vw;
  width: 100%;
  border-bottom: 1px dashed var(--main-background-color-inverted);
}

.info {
  padding-bottom: 20px;
  width: 35%;
  font-family: "Tobias Thin";
  font-size: 14px;
  text-transform: lowercase;
  margin-top: -14px;
  opacity: 0.6;
  margin-left: 2%;
  color: var(--main-background-color-inverted);
  line-height: 14px;
}

.tree {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100px;
  height: 180px;
  margin-bottom: 0px;
  margin-right: -2vw;
  padding-left: 5%;
}
.tree > img {
  object-fit: contain;
}

/* Home */
.home {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.home_container {
  margin-top: -12vh;
  display: flex;
}
.home_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2vw;
  color: var(--main-background-color-inverted);
}
.home_info h1 {
  font-family: "Aqala";
  font-size: 48px;

  color: var(--main-background-color-inverted);
}
.home_img {
  position: relative;
  width: 275px;
  height: 275px;

  transition: width 0.08s ease-out;
}

.home_img > img {
  object-fit: cover;
}
.home_img_hero {
  position: relative;
  height: 275px;
  width: 275px;
}
.home_img_hero > img {
  object-fit: cover;
}
.home_buttons {
  display: flex;
  justify-content: flex-start;
}
.home_buttons > button {
  padding: 0px;
}
.home_buttons > a:first-child {
  margin-right: 20px;
}
.details {
  margin-bottom: 10px;
  font-family: "Tobias Thin";
  opacity: 0.5;
  font-size: 16px;
}
.credits {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Tobias Thin";
  opacity: 0.5;
  font-size: 16px;
}
.mobileHome {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: center;
}
.mobileHome_tree {
  position: relative;
  height: 90vh;
  width: 140vw;

  margin-left: -22vw;
  margin-bottom: -13vh;
  transform: rotate(-1.25deg);
}

.mobileHome_tree > img {
  object-fit: contain;
}

.mobileWorkModal {
  position: fixed;
  top: 100px;
  left: 10vw;
  width: 80vw;
  height: 600px;
  border: solid 1px var(--main-background-color-inverted);
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileWorkModal p {
  font-family: "Tobias Thin";
  opacity: 0.6;
  text-align: center;
  margin: 25px 0 5px 0;
  font-size: 14px;
}
.mobileWorkModal h1 {
  font-family: "Aqala";
  font-size: 24px;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 0px;
}
.mobileWorkModal_img {
  margin-top: 25px;
  position: relative;
  height: 290px;
  width: 290px;
  border: solid 1px var(--main-background-color-inverted);
}
.mobileWorkModal_img > img {
  object-fit: cover;
}

.mobileX {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 4%;
  text-align: center;
  padding: 0px 5px 3px 6px;
  border: solid 1px var(--main-background-color-inverted);
  font-family: "Tobias Thin";
  z-index: 2;
  background-color: var(--main-background-color);
}
.mobileWorkModal_links {
  margin-top: 20px;
}
.mobileWorkModal_links > a {
  margin: 0 10px;
}
.mobileWorkModal_nav {
  position: absolute;
  bottom: 2vh;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.mobileWorkModal_nav > button {
  width: 15%;
}
.mobileWorkModal_nav > button:nth-child(1) {
  text-align: start;
}
.mobileWorkModal_nav > button:nth-child(2) {
  text-align: center;
}
.mobileWorkModal_nav > button:nth-child(3) {
  text-align: end;
}

.mobileMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 8vh;
  align-items: center;
}

.mobileMenu > button {
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 0px;
  border: solid var(--main-background-color-inverted) 0.7px;
  width: fit-content;
  font-family: "Tobias Thin";
  background-color: var(--main-background-color);
  margin-top: 3vh;
  cursor: pointer;
  color: var(--main-background-color-inverted);
}

.mobileMenu > button:nth-child(1) {
  margin-left: -30vw;
}
.mobileMenu > button:nth-child(2) {
  margin-right: -20vw;
}
.mobileMenu > button:nth-child(3) {
  margin-right: 0;
}
.mobileMenu > button:nth-child(4) {
  margin-right: -30vw;
}

.mobileMenu > button:nth-child(5) {
  margin-left: -0vw;
}
.mobileMenu > button:nth-child(6) {
  margin-right: -40vw;
}
.mobileMenu > button:nth-child(7) {
  margin-right: -0vw;
}
.mobileMenu > button:nth-child(8) {
  margin-right: -30vw;
}
.mobileMenu > button:nth-child(9) {
  margin-right: -2vw;
}
.mobileMenu > button:nth-child(10) {
  margin-right: -40vw;
}
@media only screen and (max-width: 1285px) {
  .home_img {
    width: 225px;
    height: 225px;
  }
  .home_info h1 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1090px) {
  .home_img {
    width: 175px;
    height: 175px;
  }
  .home_info h1 {
    font-size: 28px;
  }
  .menu > button {
    font-size: 20px;
  }
  .overview > div {
    font-size: 12px;
  }
  .info {
    font-size: 12px;
  }
  .tree {
    width: 80px;
    height: 140px;
  }
}

@media only screen and (max-width: 800px) {
  .home_container {
    flex-direction: column;
  }
  .home_info {
    padding-top: 3vh;
    padding-left: 0vw;
  }
  .details {
    font-size: 14px;
  }
  .credits {
    font-size: 14px;
  }
  .info {
    font-size: 12px;
    width: 80%;
  }
  .overview {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .home {
    display: none;
  }
  .mobileHome {
    display: flex;
  }
  .menu {
    display: none;
  }
  .footer {
    display: none;
  }

  .header_container {
    display: none;
  }
  .mobileHeader_container {
    display: flex;
  }
}
